@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body
{
	font-size: 10pt;
	font-family: Roboto;
	font-weight: 300;
}

ol
{
	list-style: none;
	padding-left: 0;
}

input[type="number"]
{
	width: 6ch;
}

.abstract-controls,
	.abstract-controls ol.semitones
{
	display: flex;
}

fieldset.scale,
	.abstract-controls ol.semitones > li
{
	flex-grow: 1;
    flex-basis: 0;
}

fieldset.key
{
	position: relative;

	width: 10rem;
	height: 10rem;
}

fieldset.key input
{
	display: none;
}

fieldset.key label
{
	position: absolute;
	top: 50%;
	left: 50%;
}

fieldset.key label > span
{
	display: block;
	cursor: pointer;
}

fieldset.key label > input:checked + span
{
	text-decoration: underline;
	font-weight: bold;
}

fieldset.key label:nth-child(1)
{
	transform: translate(-50%, -50%) rotate(-90deg);
}

fieldset.key label:nth-child(1) > span
{
	transform: translateX(4rem) rotate(90deg);
}

fieldset.key label:nth-child(2)
{
	transform: translate(-50%, -50%) rotate(-60deg);
}

fieldset.key label:nth-child(2) > span
{
	transform: translateX(4rem) rotate(60deg);
}

fieldset.key label:nth-child(3)
{
	transform: translate(-50%, -50%) rotate(-30deg);
}

fieldset.key label:nth-child(3) > span
{
	transform: translateX(4rem) rotate(30deg);
}

fieldset.key label:nth-child(4)
{
	transform: translate(-50%, -50%) rotate(-0deg);
}

fieldset.key label:nth-child(4) > span
{
	transform: translateX(4rem) rotate(0deg);
}

fieldset.key label:nth-child(5)
{
	transform: translate(-50%, -50%) rotate(30deg);
}

fieldset.key label:nth-child(5) > span
{
	transform: translateX(4rem) rotate(-30deg);
}

fieldset.key label:nth-child(6)
{
	transform: translate(-50%, -50%) rotate(60deg);
}

fieldset.key label:nth-child(6) > span
{
	transform: translateX(4rem) rotate(-60deg);
}

fieldset.key label:nth-child(7)
{
	transform: translate(-50%, -50%) rotate(90deg);
}

fieldset.key label:nth-child(7) > span
{
	transform: translateX(4rem) rotate(-90deg);
}

fieldset.key label:nth-child(8)
{
	transform: translate(-50%, -50%) rotate(120deg);
}

fieldset.key label:nth-child(8) > span
{
	transform: translateX(4rem) rotate(-120deg);
}

fieldset.key label:nth-child(9)
{
	transform: translate(-50%, -50%) rotate(150deg);
}

fieldset.key label:nth-child(9) > span
{
	transform: translateX(4rem) rotate(-150deg);
}

fieldset.key label:nth-child(10)
{
	transform: translate(-50%, -50%) rotate(180deg);
}

fieldset.key label:nth-child(10) > span
{
	transform: translateX(4rem) rotate(-180deg);
}

fieldset.key label:nth-child(11)
{
	transform: translate(-50%, -50%) rotate(210deg);
}

fieldset.key label:nth-child(11) > span
{
	transform: translateX(4rem) rotate(-210deg);
}

fieldset.key label:nth-child(12)
{
	transform: translate(-50%, -50%) rotate(240deg);
}

fieldset.key label:nth-child(12) > span
{
	transform: translateX(4rem) rotate(-240deg);
}

.fretboard
{
	overflow-x: scroll;
	overflow-y: hidden;
}

.fretboard > .strings
{
	background: url("./wood.jpg");
}

.string
{
	display: flex;
	align-items: center;
}

.string > .frets
{
	display: flex;
	position: relative;
	align-self: stretch;
}

.string > .frets > li
{
	width: 4rem;
	border-right: 3px solid goldenrod;
	text-align: center;
	padding: .2rem 0;
	min-height: 1.875rem;
}

.string > .frets > li:first-child
{
	/* border-right-style: double; */
	border-right-width: 5px;
	border-right-color: cornsilk;
}

.string > .frets::before
{
	content: "";
	border-top: 1px dotted black;

	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;

	z-index: 1;
}

.string > .frets button
{
	position: relative;
	z-index: 2;

	width: 4ch;
	height: 4ch;
}

.string > .frets li[data-position="0"] button
{
	font-weight: bold;
	filter: invert(1);
}

.string > .frets li:not([data-position="0"]) button
{
	border-radius: 100%;
}

ol.strings > li:last-child .frets > li
{
	position: relative;
}

ol.strings > li:last-child .frets > li:nth-child(12n + 1)::after,
	ol.strings > li:last-child .frets > li:nth-child(12n + 4)::after,
	ol.strings > li:last-child .frets > li:nth-child(12n + 6)::after,
	ol.strings > li:last-child .frets > li:nth-child(12n + 8)::after,
	ol.strings > li:last-child .frets > li:nth-child(12n + 10)::after
{
	content: "\2022";

	position: absolute;
	left: 50%;
	bottom: -1em;
	transform: translateX(-50%);
	font-size: 3em;
}

ol.strings > li:last-child .frets > li:nth-child(12n + 1)::after
{
	content: "\2022 \2022";
}

ol.strings > li:last-child .frets > li:first-child::after
{
	content: none !important;
}

label[data-letter-semitone]
{
	display: flex;
	width: 6rem;
}

label[data-letter-semitone]::after
{
	padding-left: 1ch;
	font-weight: bold;
}

.fretboard label[data-letter-semitone]::after
{
	color: white;
}

label[data-letter-semitone="0"]::after
{
	content: "C";
}

label[data-letter-semitone="1"]::after
{
	content: "D♭";
}

label[data-letter-semitone="2"]::after
{
	content: "D";
}

label[data-letter-semitone="3"]::after
{
	content: "E♭";
}

label[data-letter-semitone="4"]::after
{
	content: "E";
}

label[data-letter-semitone="5"]::after
{
	content: "F";
}

label[data-letter-semitone="6"]::after
{
	content: "G♭";
}

label[data-letter-semitone="7"]::after
{
	content: "G";
}

label[data-letter-semitone="8"]::after
{
	content: "A♭";
}

label[data-letter-semitone="9"]::after
{
	content: "A";
}

label[data-letter-semitone="10"]::after
{
	content: "B♭";
}

label[data-letter-semitone="11"]::after
{
	content: "B";
}

@media print
{
	.abstract-controls,
		input, select
	{
		display: none;
	}

	.string > .frets > li:first-child
	{
		border-right-color: black;
		border-right-style: double;
	}

	fieldset.fretboard
	{
		border: none;
		overflow-x: hidden;
	}

	.string > .frets li[data-position="0"] button
	{
		filter: none;
	}
}